html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@keyframes arrow-animation {
  0% {
    background-position: 161px;
  }

  50% {
    background-position: 175px;
  }

  100% {
    background-position: 161px;
  }
}

@keyframes arrow-down-animation {
  0% {
    background-position: 140px;
  }

  50% {
    background-position: 150px;
  }

  100% {
    background-position: 140px;
  }
}

:root {
  scroll-behavior: smooth;
}

.screen-alert {
  color: #000;
  background-color: #ffe339;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width >= 320px) {
  .screen-alert {
    display: none;
  }
}

.screen-alert__logo {
  width: 130px;
}

.body {
  justify-content: center;
  margin: 0 auto;
}

.body__lock {
  overflow: hidden;
}

.button {
  place-items: center;
  display: flex;
}

.button--primary {
  color: #fff;
  text-transform: uppercase;
  background-color: #03839e;
  background-image: url("arrow-white.c4caa260.svg");
  background-position: 161px;
  background-repeat: no-repeat;
  background-size: auto;
  border: 0;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding-left: 70px;
  font-family: Manrope, sans-serfif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all .5s ease-in-out;
  display: flex;
}

@media (width <= 767px) {
  .button--primary {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--primary {
    width: 238px;
  }
}

.button--primary:hover {
  cursor: pointer;
  color: #fff;
  background: #03809e66 url("arrow-white.c4caa260.svg") 161px no-repeat;
  border: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 238px;
  height: 48px;
  transition: all .5s ease-in-out;
  animation: 1.5s ease-in-out infinite arrow-animation;
  display: flex;
}

@media (width <= 767px) {
  .button--primary:hover {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--primary:hover {
    width: 238px;
  }
}

.button--primary2 {
  box-sizing: border-box;
  color: #000;
  text-transform: uppercase;
  background-color: #ffe339;
  background-image: url("arrow-black.249da093.svg");
  background-position: 161px;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #ffe339;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  padding-left: 70px;
  font-family: Manrope, sans-serfif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all .5s ease-in-out;
  display: flex;
}

@media (width <= 767px) {
  .button--primary2 {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--primary2 {
    width: 238px;
  }
}

.button--primary2:hover {
  opacity: .7;
  color: #121212;
  cursor: pointer;
  background-color: #ffe339;
  border: 1px solid #ffe339;
  flex-shrink: 0;
  height: 48px;
  transition: all .5s ease-in-out;
  animation: 1.5s ease-in-out infinite arrow-animation;
}

@media (width <= 767px) {
  .button--primary2:hover {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--primary2:hover {
    width: 238px;
  }
}

.button--secondary {
  color: #000;
  box-sizing: border-box;
  text-transform: uppercase;
  background-image: url("arrow-black.249da093.svg");
  background-position: 161px;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #03839e;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 238px;
  height: 48px;
  padding-left: 67px;
  font-family: Manrope, sans-serfif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all .5s ease-in-out;
  display: flex;
}

@media (width <= 767px) {
  .button--secondary {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--secondary {
    width: 238px;
  }
}

.button--secondary:hover {
  opacity: .7;
  color: #fff;
  background-color: #03839e;
  background-image: url("arrow-white.c4caa260.svg");
  border: 1px solid #03839e;
  flex-shrink: 0;
  width: 238px;
  height: 48px;
  transition: all .5s ease-in-out;
  animation: 1.5s ease-in-out infinite arrow-animation;
}

@media (width <= 767px) {
  .button--secondary:hover {
    width: 260px;
  }
}

@media (width >= 768px) {
  .button--secondary:hover {
    width: 238px;
  }
}

@media (width >= 320px) {
  .button--double {
    box-sizing: border-box;
    color: #000;
    text-transform: uppercase;
    background-color: #ffe339;
    background-image: url("arrow-black.249da093.svg");
    background-position: 161px;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #ffe339;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    padding-left: 70px;
    font-family: Manrope, sans-serfif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: all .5s ease-in-out;
    display: flex;
  }
}

@media (width >= 320px) and (width <= 767px) {
  .button--double {
    width: 260px;
  }
}

@media (width >= 320px) and (width >= 768px) {
  .button--double {
    width: 238px;
  }
}

@media (width >= 320px) {
  .button--double:hover {
    opacity: .7;
    color: #121212;
    background-color: #ffe339;
    border: 1px solid #ffe339;
    flex-shrink: 0;
    height: 48px;
    transition: all .5s ease-in-out;
    animation: 1.5s ease-in-out infinite arrow-animation;
  }
}

@media (width >= 320px) and (width <= 767px) {
  .button--double:hover {
    width: 260px;
  }
}

@media (width >= 320px) and (width >= 768px) {
  .button--double:hover {
    width: 238px;
  }
}

@media (width >= 768px) {
  .button--double {
    color: #000;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: #0000;
    background-image: url("arrow-black.249da093.svg");
    background-position: 161px;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #03839e;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    width: 238px;
    height: 48px;
    padding-left: 67px;
    font-family: Manrope, sans-serfif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: all .5s ease-in-out;
    display: flex;
  }
}

@media (width >= 768px) and (width <= 767px) {
  .button--double {
    width: 260px;
  }
}

@media (width >= 768px) and (width >= 768px) {
  .button--double {
    width: 238px;
  }
}

@media (width >= 768px) {
  .button--double:hover {
    opacity: .7;
    color: #fff;
    background-color: #03839e;
    background-image: url("arrow-white.c4caa260.svg");
    border: 1px solid #03839e;
    flex-shrink: 0;
    width: 238px;
    height: 48px;
    transition: all .5s ease-in-out;
    animation: 1.5s ease-in-out infinite arrow-animation;
  }
}

@media (width >= 768px) and (width <= 767px) {
  .button--double:hover {
    width: 260px;
  }
}

@media (width >= 768px) and (width >= 768px) {
  .button--double:hover {
    width: 238px;
  }
}

.content {
  background-color: #f8f8f8;
}

@media (width >= 320px) {
  .content__hide {
    display: none;
  }
}

@media (width >= 768px) {
  .content__hide {
    display: inline;
  }
}

@media (width <= 319px) {
  .content__marker {
    display: none;
  }
}

@media (width >= 320px) {
  .content__marker {
    padding: 30px;
  }
}

@media (width >= 768px) {
  .content__marker {
    padding: 50px;
  }
}

@media (width >= 1260px) {
  .content__marker {
    padding: 50px 0;
  }

  .content {
    background-position: 0 0;
  }
}

@media (width >= 320px) {
  .content__section:not(:last-of-type) {
    padding-bottom: 50px;
  }
}

@media (width >= 768px) {
  .content__section:not(:last-of-type) {
    padding-bottom: 0;
  }
}

@media (width >= 1260px) {
  .content__section:not(:last-of-type) {
    padding-bottom: 0;
  }
}

.content__team-bcg {
  z-index: 0;
  opacity: .3;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
}

@media (width >= 320px) {
  .content__team-bcg {
    background-position: -500px 0;
    top: 4300px;
  }
}

.content__space {
  height: 150px;
}

@media (width >= 1260px) {
  .content__graphic-link {
    background-color: #0000;
    transition: all .3s ease-in-out;
  }

  .content__graphic-link:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
  }
}

@media (width <= 1259px) {
  .content__dont-display-on-small-screen {
    display: none;
  }
}

@media (width >= 1260px) {
  .content__dont-display-on-large-screen {
    display: none;
  }
}

@media (width <= 767px) {
  .content__dont-display-on-mobile {
    display: none !important;
  }
}

.content__bcg-box {
  object-fit: cover;
}

.button-container {
  display: inline-block;
  position: relative;
}

.not-ready {
  cursor: pointer;
}

.not-ready-text {
  color: red;
  display: none;
}

.benefits {
  box-sizing: border-box;
  padding: 0 calc(50vw - 610px);
  display: flex;
  position: relative;
}

@media (width <= 319px) {
  .benefits {
    display: none;
  }
}

.benefits:after {
  content: " ";
  background-image: url("potr-right.15e3748c.svg");
  width: 14px;
  height: 144px;
  position: absolute;
}

@media (width >= 320px) {
  .benefits:after {
    display: none;
  }
}

@media (width >= 768px) {
  .benefits:after {
    display: block;
    top: 0;
    right: calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .benefits:after {
    display: none;
  }
}

@media (width >= 768px) {
  .benefits {
    flex-direction: row;
  }
}

@media (width >= 1260px) {
  .benefits {
    flex-direction: row;
  }
}

.benefits__content {
  box-sizing: border-box;
  display: flex;
}

@media (width >= 320px) {
  .benefits__content {
    flex-direction: column;
  }
}

@media (width >= 768px) {
  .benefits__content {
    flex-direction: row;
  }
}

@media (width >= 1260px) {
  .benefits__content {
    flex-direction: column;
  }
}

.benefits__1 {
  display: flex;
}

@media (width >= 320px) {
  .benefits__1 {
    flex-flow: wrap;
    column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .benefits__1 {
    flex-direction: column;
    gap: 20px;
    padding-left: calc(50vw - 339px);
    padding-right: 0;
  }
}

@media (width >= 1260px) {
  .benefits__1 {
    flex-flow: wrap;
    gap: 20px 40px;
    width: 650px;
    padding-top: 170px;
    padding-left: 0;
  }
}

.benefits__2 {
  flex-direction: column;
  display: flex;
}

@media (width >= 320px) {
  .benefits__2 {
    padding: 40px 30px 0;
  }
}

@media (width >= 768px) {
  .benefits__2 {
    padding: 70px 0 0 30px;
  }
}

@media (width >= 1260px) {
  .benefits__2 {
    padding: 80px 0;
  }
}

.benefits__photos {
  flex-wrap: wrap;
  width: 600px;
  display: flex;
  position: relative;
}

@media (width >= 320px) {
  .benefits__photos {
    display: none;
  }
}

@media (width >= 1260px) {
  .benefits__photos {
    display: block;
  }
}

.benefits__photo {
  background-color: #fff;
  padding: 16px;
  position: absolute;
}

.benefits__photo:first-child {
  z-index: 0;
  transition: transform 1s ease-in-out;
  top: 40px;
  left: 35px;
  transform: rotate(-15deg);
}

.benefits__photo:first-child:hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo:nth-child(2) {
  z-index: 0;
  transition: transform 1s ease-in-out;
  top: 0;
  left: 235px;
  transform: rotate(-30deg);
}

.benefits__photo:nth-child(2):hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo:nth-child(3) {
  z-index: 1;
  transition: transform 1s ease-in-out;
  top: 300px;
  left: 35px;
}

.benefits__photo:nth-child(3):hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo:nth-child(4) {
  transition: transform 1s ease-in-out;
  top: 220px;
  left: 230px;
  transform: rotate(-15deg);
}

.benefits__photo:nth-child(4):hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo:nth-child(5) {
  transition: transform 1s ease-in-out;
  top: 510px;
  left: 100px;
  transform: rotate(-15deg);
}

.benefits__photo:nth-child(5):hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo:nth-child(6) {
  transition: transform 1s ease-in-out;
  top: 480px;
  left: 330px;
  transform: rotate(-30deg);
}

.benefits__photo:nth-child(6):hover {
  cursor: pointer;
  z-index: 9;
  transition: transform .5s ease-in-out;
  transform: rotate(0)scale(1.5);
  box-shadow: 0 4px 8px #0003;
}

.benefits__photo-desc {
  color: #828282;
  flex-wrap: wrap;
  width: 180px;
  padding-top: 6px;
  font-family: Manrope, sans-serfif;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.5%;
  display: flex;
}

.benefits__title {
  color: #333;
  padding-bottom: 8px;
  font-family: Manrope, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.benefits__title:before {
  content: "";
  background: #4f4f4f;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 24px;
  left: -19px;
  transform: rotate(45deg);
}

.benefits__text {
  color: #828282;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.benefits__discount {
  color: #eb5757;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 320px) {
  .benefits__discount {
    padding-top: 30px;
  }
}

@media (width >= 768px) {
  .benefits__discount {
    padding-top: 30px;
  }
}

@media (width >= 1260px) {
  .benefits__discount {
    padding: 70px 120px 0;
  }
}

.benefits__half-price {
  color: #03839e;
  letter-spacing: 3.72px;
  text-transform: uppercase;
  flex-wrap: wrap;
  font-family: Bebas Neue, sans-serfif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

@media (width >= 768px) {
  .benefits__half-price {
    max-width: 290px;
  }
}

@media (width >= 1260px) {
  .benefits__half-price {
    max-width: 100%;
    padding: 5px 120px;
  }
}

.benefits__button-box {
  box-sizing: border-box;
  display: flex;
}

.features {
  background-color: #f8f8f8;
  display: flex;
  position: relative;
}

@media (width <= 319px) {
  .features {
    display: none;
  }
}

@media (width >= 1260px) {
  .features:before {
    content: " ";
    background-image: url("potr-right.15e3748c.svg");
    width: 14px;
    height: 144px;
    display: block;
    position: absolute;
    top: -300px;
    left: calc(50vw - 595px);
  }
}

@media (width >= 320px) {
  .features {
    flex-direction: column;
    padding: 0 30px;
  }
}

@media (width >= 768px) {
  .features {
    flex-direction: row;
    gap: 15px;
    padding: 0 calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .features {
    gap: 30px;
    padding: 0 calc(50vw - 595px);
  }
}

.features__h2 {
  color: #03839e;
  letter-spacing: 8.99px;
  font-family: Bebas Neue, sans-serfif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

@media (width <= 319px) {
  .features__h2 {
    display: none;
  }
}

@media (width >= 320px) {
  .features__h2 {
    flex-direction: column;
    padding-left: 30px;
  }
}

@media (width >= 768px) {
  .features__h2 {
    flex-direction: row;
    padding-left: calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .features__h2 {
    padding-left: calc(50vw - 595px);
  }
}

.features__h2--stroke {
  -webkit-text-stroke: #03839e 1px;
  color: #0000;
  display: inline-block;
}

@media (width >= 320px) {
  .features__h2--stroke {
    padding: 0;
  }
}

@media (width >= 768px) {
  .features__h2--stroke {
    padding-left: 20px;
  }
}

.features__card {
  flex-direction: column;
  display: flex;
}

@media (width >= 320px) {
  .features__card {
    text-align: center;
    align-items: center;
  }
}

@media (width >= 768px) {
  .features__card {
    align-items: flex-start;
  }
}

@media (width >= 1260px) {
  .features__card {
    text-align: center;
    align-items: center;
  }
}

@media (width >= 768px) {
  .features__image {
    transition: transform .5s ease-in-out;
  }

  .features__image:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }
}

@media (width >= 320px) {
  .features__image {
    width: 260px;
    height: 260px;
    padding-bottom: 37px;
  }
}

@media (width >= 768px) {
  .features__image {
    width: 223px;
    height: 223px;
    padding-bottom: 31px;
  }
}

@media (width >= 1260px) {
  .features__image {
    width: 370px;
    height: 370px;
    padding-bottom: 21px;
  }
}

.features__title {
  color: #000;
  letter-spacing: 3.72px;
  text-transform: uppercase;
  padding-bottom: 21px;
  font-family: Bebas Neue, sans-serfif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

.features__text {
  color: #000;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 320px) {
  .features__text {
    max-width: 260px;
    padding-bottom: 40px;
  }
}

@media (width >= 768px) {
  .features__text {
    text-align: left;
    max-width: 100%;
    padding-bottom: 0;
  }
}

@media (width >= 1260px) {
  .features__text {
    text-align: center;
  }
}

.footer {
  display: flex;
}

@media (width <= 319px) {
  .footer {
    display: none;
  }
}

@media (width >= 320px) {
  .footer__address {
    display: none;
  }
}

@media (width >= 768px) {
  .footer__address {
    display: block;
  }
}

@media (width >= 320px) {
  .footer {
    flex-direction: column;
  }
}

@media (width >= 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .footer {
    padding: 80px calc(50vw - 595px);
  }
}

.footer__h2 {
  color: #000;
  letter-spacing: 2.79px;
  padding-bottom: 5px;
  font-family: Bebas Neue, sans-serfif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media (width >= 320px) {
  .footer__h2 {
    display: none;
  }
}

@media (width >= 768px) {
  .footer__h2 {
    display: block;
  }
}

.footer__2 {
  flex-direction: column;
  display: flex;
}

.footer__cr {
  color: #000;
  justify-content: center;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

.footer__logo-box {
  justify-content: center;
  padding-top: 50px;
  display: flex;
}

.footer__logo {
  transition: all .3s ease-in-out;
}

.footer__logo:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.footer__sm {
  justify-content: space-between;
  gap: 70px;
  padding: 0 50px;
  display: flex;
}

.footer__twit {
  background-image: url("twitter.d81ec20f.svg");
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

@media (width >= 320px) {
  .footer__twit {
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}

@media (width >= 768px) {
  .footer__twit {
    width: 20px;
    height: 20px;
  }
}

@media (width >= 1260px) {
  .footer__twit {
    width: 30px;
    height: 30px;
  }
}

.footer__twit:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.footer__insta {
  background-image: url("instagram.b2a35be4.svg");
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

@media (width >= 320px) {
  .footer__insta {
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}

@media (width >= 768px) {
  .footer__insta {
    width: 20px;
    height: 20px;
  }
}

@media (width >= 1260px) {
  .footer__insta {
    width: 30px;
    height: 30px;
  }
}

.footer__insta:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.footer__fb {
  background-image: url("facebook.fd158e08.svg");
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

@media (width >= 320px) {
  .footer__fb {
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}

@media (width >= 768px) {
  .footer__fb {
    width: 20px;
    height: 20px;
  }
}

@media (width >= 1260px) {
  .footer__fb {
    width: 30px;
    height: 30px;
  }
}

.footer__fb:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.forwhom {
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: relative;
}

@media (width <= 319px) {
  .forwhom {
    display: none;
  }
}

.forwhom:after {
  content: " ";
  background-image: url("potr-right.15e3748c.svg");
  width: 14px;
  height: 144px;
  position: absolute;
}

@media (width >= 320px) {
  .forwhom:after {
    display: none;
  }
}

@media (width >= 768px) {
  .forwhom:after {
    display: block;
    top: -65px;
    right: calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .forwhom:after {
    top: -65px;
    right: calc(50vw - 595px);
  }
}

@media (width >= 768px) {
  .forwhom {
    padding-left: calc(50vw - 284px);
  }
}

@media (width >= 1260px) {
  .forwhom {
    padding-left: calc(50vw - 530px);
  }
}

.forwhom__inline {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
}

.forwhom__inline--1 {
  background-image: url("1.f6600943.svg");
}

@media (width >= 320px) {
  .forwhom__inline--1 {
    padding-top: 70px;
  }
}

@media (width >= 768px) {
  .forwhom__inline--1 {
    padding-top: 5px;
    padding-left: 68px;
  }

  .forwhom__inline--1:after {
    content: " ";
    background-image: url("slash.5acf8073.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 40px;
    display: inline-block;
  }
}

@media (width >= 1260px) {
  .forwhom__inline--1 {
    padding-top: 5px;
    padding-left: 100px;
  }
}

.forwhom__inline--2 {
  background-image: url("2.56e4d2cb.svg");
  padding-top: 65px;
}

@media (width >= 768px) {
  .forwhom__inline--2:after {
    content: " ";
    background-image: url("slash.5acf8073.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 40px;
    display: inline-block;
  }
}

@media (width >= 768px) and (width >= 1260px) {
  .forwhom__inline--2 {
    background-position: 45px 0;
    padding-left: 40px;
  }
}

.forwhom__inline--3 {
  background-image: url("3.3f23b505.svg");
}

@media (width >= 320px) {
  .forwhom__inline--3 {
    padding-top: 70px;
  }
}

@media (width >= 768px) {
  .forwhom__inline--3 {
    padding-top: 5px;
    padding-left: 68px;
  }

  .forwhom__inline--3:after {
    content: " ";
    background-image: url("slash.5acf8073.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 40px;
    display: inline-block;
  }
}

@media (width >= 1260px) {
  .forwhom__inline--3 {
    background-position: 65px 0;
    padding-top: 5px;
    padding-left: 170px;
  }
}

@media (width <= 767px) {
  .forwhom__inline--slash {
    display: none;
  }
}

.forwhom__block {
  display: block;
}

.forwhom__star {
  background-image: url("star.a1505b54.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-right: 40px;
  display: block;
}

.forwhom__h2 {
  color: #000;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width <= 319px) {
  .forwhom__h2 {
    display: none;
  }
}

@media (width >= 320px) {
  .forwhom__h2 {
    padding: 0 30px 40px;
  }
}

@media (width >= 768px) {
  .forwhom__h2 {
    padding: 0 calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .forwhom__h2 {
    padding-bottom: 20px;
    padding-left: calc(50vw - 595px);
  }
}

@media (width >= 320px) {
  .forwhom {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 0;
    display: grid;
  }
}

@media (width >= 768px) {
  .forwhom {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 290px auto;
    gap: 0;
    padding: 0 calc(50vw - 359px);
    display: grid;
  }
}

@media (width >= 1260px) {
  .forwhom {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 0;
    padding: 0 calc(50vw - 595px);
  }
}

.forwhom__article-1 {
  box-sizing: border-box;
  flex-direction: column;
  justify-items: center;
  display: flex;
}

@media (width >= 320px) {
  .forwhom__article-1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 30px;
  }
}

@media (width >= 768px) {
  .forwhom__article-1 {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0;
  }
}

@media (width >= 1260px) {
  .forwhom__article-1 {
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 120px;
    padding-left: 80px;
  }
}

.forwhom__article-2 {
  box-sizing: border-box;
  flex-direction: column;
  justify-items: center;
  display: flex;
}

@media (width >= 320px) {
  .forwhom__article-2 {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0 30px;
  }
}

@media (width >= 768px) {
  .forwhom__article-2 {
    grid-area: 3 / 1 / 4 / 2;
    width: 340px;
    padding: 0;
  }
}

@media (width >= 1260px) {
  .forwhom__article-2 {
    grid-area: 4 / 1 / 6 / 2;
    padding-top: 45px;
    padding-left: 60px;
  }
}

.forwhom__article-3 {
  box-sizing: border-box;
  flex-direction: column;
  justify-items: center;
  display: flex;
}

@media (width >= 320px) {
  .forwhom__article-3 {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0 30px;
  }
}

@media (width >= 768px) {
  .forwhom__article-3 {
    grid-area: 4 / 2 / 5 / 3;
    padding: 0;
  }
}

@media (width >= 1260px) {
  .forwhom__article-3 {
    grid-area: 5 / 2 / 6 / 3;
    padding-top: 45px;
    padding-left: 100px;
  }
}

.forwhom__image-box-1 {
  box-sizing: border-box;
}

@media (width >= 768px) {
  .forwhom__image-box-1 {
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 23px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-box-1 {
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 0;
  }
}

.forwhom__image-box-2 {
  box-sizing: border-box;
  display: flex;
}

@media (width >= 768px) {
  .forwhom__image-box-2 {
    grid-area: 3 / 2 / 4 / 3;
    justify-content: flex-end;
    padding-top: 110px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-box-2 {
    grid-area: 3 / 1 / 4 / 2;
    justify-content: center;
    padding-top: 185px;
    padding-left: 0;
  }
}

.forwhom__image-box-3 {
  display: flex;
}

@media (width >= 768px) {
  .forwhom__image-box-3 {
    grid-area: 4 / 1 / 5 / 2;
    justify-content: flex-start;
    padding-top: 123px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-box-3 {
    grid-area: 3 / 2 / 5 / 3;
    padding-top: 0;
    padding-left: 165px;
  }
}

@media (width >= 768px) {
  .forwhom__image-1 {
    transition: transform .5s ease-in-out;
  }

  .forwhom__image-1:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }

  .forwhom__image-1 {
    width: 284px;
    height: 284px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-1 {
    width: 500px;
    height: 500px;
  }
}

@media (width >= 768px) {
  .forwhom__image-2 {
    transition: transform .5s ease-in-out;
  }

  .forwhom__image-2:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }

  .forwhom__image-2 {
    width: 300px;
    height: 417px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-2 {
    width: 300px;
    height: 417px;
  }
}

@media (width >= 768px) {
  .forwhom__image-3 {
    transition: transform .5s ease-in-out;
  }

  .forwhom__image-3:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }

  .forwhom__image-3 {
    width: 284px;
    height: 432px;
  }
}

@media (width >= 1260px) {
  .forwhom__image-3 {
    width: 470px;
    height: 670px;
    padding-top: 80px;
  }
}

.forwhom__keyword {
  color: #000;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width <= 767px) {
  .forwhom__keyword {
    display: none;
  }
}

@media (width >= 768px) {
  .forwhom__keyword--1 {
    padding-left: 30px;
  }
}

@media (width >= 1260px) {
  .forwhom__keyword--1 {
    padding-bottom: 40px;
    padding-left: 55px;
  }
}

@media (width >= 768px) {
  .forwhom__keyword--2 {
    justify-content: flex-end;
    width: 340px;
    padding-top: 139px;
  }
}

@media (width >= 1260px) {
  .forwhom__keyword--2 {
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

@media (width >= 768px) {
  .forwhom__keyword--3 {
    padding-top: 115px;
    padding-bottom: 17px;
    padding-left: 27px;
  }
}

@media (width >= 1260px) {
  .forwhom__keyword--3 {
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 25px;
  }

  .forwhom__moved {
    padding-left: 100px;
  }
}

.forwhom__title {
  color: #000;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width >= 320px) {
  .forwhom__title {
    width: auto;
  }
}

@media (width >= 768px) {
  .forwhom__title {
    width: 340px;
  }
}

@media (width >= 1260px) {
  .forwhom__title--1 {
    width: 470px;
  }

  .forwhom__title--2 {
    width: 450px;
  }

  .forwhom__title--3 {
    flex-direction: row;
    width: 530px;
  }
}

.forwhom__text {
  color: #000;
  flex-wrap: wrap;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width >= 320px) {
  .forwhom__text {
    width: auto;
  }
}

@media (width >= 768px) {
  .forwhom__text {
    width: 340px;
  }
}

@media (width >= 1260px) {
  .forwhom__text {
    width: 380px;
  }
}

@media (width >= 320px) {
  .forwhom__text--1 {
    padding-bottom: 70px;
  }
}

@media (width >= 768px) {
  .forwhom__text--1 {
    padding-bottom: 0;
    padding-left: 70px;
  }
}

@media (width >= 1260px) {
  .forwhom__text--1 {
    padding-left: 100px;
  }
}

.forwhom__text--2 {
  padding-left: 0;
}

@media (width >= 320px) {
  .forwhom__text--2 {
    padding-bottom: 70px;
  }
}

@media (width >= 768px) {
  .forwhom__text--2 {
    padding-bottom: 0;
  }
}

@media (width >= 1260px) {
  .forwhom__text--2 {
    padding-left: 40px;
  }
}

@media (width >= 768px) {
  .forwhom__text--3 {
    padding-left: 65px;
  }
}

@media (width >= 1260px) {
  .forwhom__text--3 {
    padding-left: 170px;
  }
}

.header {
  box-sizing: border-box;
  z-index: 4;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  background-color: #ffec7a !important;
  height: 100vh !important;
}

.header__nav {
  box-sizing: border-box;
  z-index: 8;
  background-repeat: no-repeat;
  place-content: space-between;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  left: 0;
}

.header__nav-list {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  padding-top: 50px;
  display: flex;
}

.header__nav-item {
  align-items: flex-start;
  display: flex;
}

.header__nav-link {
  color: #4f4f4f;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  display: block;
}

.header__nav-link:after {
  content: "";
  border-bottom: 1px solid #4f4f4f;
  transition: transform .5s ease-in-out;
  display: block;
  position: relative;
  top: 5px;
  left: 0;
  right: 0;
  transform: scale(0);
}

.header__nav-link:hover:after {
  transform: scale(1);
}

.msg {
  color: #4f4f4f;
  padding: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.materials {
  box-sizing: border-box;
  background-image: url("bcg.50e407a3.jpg");
  background-repeat: no-repeat;
  transform: translate(0);
}

@media (width <= 319px) {
  .materials {
    display: none;
  }
}

@media (width >= 320px) {
  .materials {
    background-position: 50% 180px;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media (width >= 391px) {
  .materials {
    background-position: 50% 80px;
  }
}

@media (width >= 590px) {
  .materials {
    background-position: 50% 65px;
    background-size: cover;
  }
}

@media (width >= 684px) {
  .materials {
    background-position: 50% 0;
    background-size: cover;
  }
}

@media (width >= 768px) {
  .materials {
    background-position: bottom;
    background-size: contain;
    height: 880px;
    padding: 0 0 0 calc(50vw - 359px);
    display: block;
  }
}

@media (width >= 940px) {
  .materials {
    background-size: contain;
    height: 1000px;
  }
}

@media (width >= 1100px) {
  .materials {
    background-size: contain;
    height: 1100px;
  }
}

@media (width >= 1260px) {
  .materials {
    background-size: auto;
    min-height: 1350px;
    padding-left: calc(50vw - 595px);
  }
}

@media (width <= 767px) {
  .materials__slider {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 302px;
    padding-top: 120px;
    display: flex;
    overflow: hidden;
  }
}

.materials__h2 {
  color: #03839e;
  letter-spacing: 9.92px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Bebas Neue, sans-serfif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

@media (width >= 320px) {
  .materials__h2 {
    letter-spacing: 9px;
    padding: 0 0 0 30px;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (width >= 768px) {
  .materials__h2 {
    letter-spacing: 9.6px;
    width: 532px;
    padding: 0;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    position: relative;
  }
}

@media (width >= 1260px) {
  .materials__h2 {
    letter-spacing: 16.66px;
    width: 900px;
    padding-top: 60px;
    font-size: 138.81px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
  }
}

.materials__box-eco {
  box-sizing: border-box;
  line-height: 300px;
}

@media (width >= 320px) {
  .materials__box-eco {
    display: none;
  }
}

@media (width >= 768px) {
  .materials__box-eco {
    flex-direction: column;
    width: 10vw;
    padding: 0;
    display: flex;
    transform: translateX(355px)translateY(-100px);
  }
}

@media (width >= 1260px) {
  .materials__box-eco {
    width: 500px;
    padding: 0;
    transform: translateX(710px)translateY(-170px);
  }
}

.materials__h3 {
  color: #4f4f4f;
  width: 330px;
  font-family: Manrope, sans-serfif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: block;
}

.materials__eco-text {
  color: #4f4f4f;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}

@media (width >= 768px) {
  .materials__eco-text {
    width: 340px;
  }
}

@media (width >= 1260px) {
  .materials__eco-text {
    width: 470px;
  }
}

.materials__a {
  transition: all 1s ease-in-out;
}

.materials__circle {
  z-index: 1;
  cursor: pointer;
  background-image: url("circle-red.ce4c9993.svg");
  background-size: auto;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  transition: all .3s ease-in-out;
  display: block;
  position: absolute;
}

@media (width >= 768px) {
  .materials__circle {
    left: calc(50vw - 384px);
  }
}

@media (width >= 1260px) {
  .materials__circle {
    left: calc(50vw - 630px);
  }
}

.materials__circle--clicked {
  background-image: url("circle-black.52900d8e.svg");
}

@media (width >= 768px) {
  .materials__circle--1 {
    transform: translateX(90px)translateY(290px);
  }
}

@media (width >= 1260px) {
  .materials__circle--1 {
    transform: translateX(170px)translateY(560px);
  }
}

@media (width >= 768px) {
  .materials__circle--2 {
    transform: translateX(225px)translateY(180px);
  }
}

@media (width >= 1260px) {
  .materials__circle--2 {
    transform: translateX(450px)translateY(300px);
  }
}

@media (width >= 768px) {
  .materials__circle--3 {
    transform: translateX(340px)translateY(330px);
  }
}

@media (width >= 1260px) {
  .materials__circle--3 {
    transform: translateX(590px)translateY(590px);
  }
}

@media (width >= 768px) {
  .materials__circle--4 {
    transform: translateX(400px)translateY(250px);
  }
}

@media (width >= 1260px) {
  .materials__circle--4 {
    transform: translateX(740px)translateY(440px);
  }
}

@media (width >= 768px) {
  .materials__circle--5 {
    transform: translateX(540px)translateY(50px);
  }
}

@media (width >= 1260px) {
  .materials__circle--5 {
    transform: translateX(1015px)translateY(300px);
  }
}

.materials__p {
  color: #f8f8f8;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 320px) {
  .materials__p {
    width: 100%;
    padding-bottom: 35px;
  }
}

@media (width >= 768px) {
  .materials__p {
    width: 209px;
    padding-bottom: 0;
    display: inline-block !important;
  }
}

.materials__squares {
  gap: 8px;
  display: flex;
}

.materials__square {
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  display: block;
  transform: rotate(45deg);
}

.materials__square--white {
  background: #f8f8f8;
}

.materials__square--black {
  background: #333;
  border: 1px solid #f8f8f8;
}

@media (width >= 768px) {
  .materials__square {
    display: none;
  }
}

.size {
  flex-direction: column;
  display: flex;
}

@media (width <= 319px) {
  .size {
    display: none;
  }
}

@media (width >= 768px) {
  .size {
    padding: 0 calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .size {
    padding: 0 calc(50vw - 595px);
  }
}

.size__grid {
  box-sizing: border-box;
  width: 100%;
  display: grid;
}

@media (width >= 320px) {
  .size__grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    gap: 20px;
  }
}

@media (width >= 768px) {
  .size__grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 30px 10px;
  }
}

@media (width >= 1260px) {
  .size__grid {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 65px;
  }
}

.size__h2 {
  color: #000;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 320px) {
  .size__h2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .size__h2 {
    padding-bottom: 38px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (width >= 1260px) {
  .size__h2 {
    padding-bottom: 66px;
  }
}

.size__p {
  color: #4f4f4f;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}

.size__intro {
  color: #4f4f4f;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
}

@media (width >= 320px) {
  .size__intro {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .size__intro {
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (width >= 1260px) {
  .size__intro {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.size__strong {
  box-sizing: border-box;
  color: #000;
  letter-spacing: 2.79px;
  padding: 10px 0;
  font-family: Bebas Neue, sans-serfif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.size__img-box {
  box-sizing: border-box;
  display: flex;
}

@media (width >= 320px) {
  .size__img-box {
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
  }
}

@media (width >= 768px) {
  .size__img-box {
    grid-area: 2 / 2 / 3 / 3;
    justify-content: flex-end;
  }
}

@media (width >= 1260px) {
  .size__img-box {
    grid-area: 1 / 3 / 3 / 4;
  }
}

@media (width >= 768px) {
  .size__image {
    transition: transform .5s ease-in-out;
  }

  .size__image:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }
}

@media (width >= 320px) {
  .size__image {
    width: 100%;
    max-width: 530px;
  }
}

@media (width >= 768px) {
  .size__image {
    width: 416px;
  }
}

@media (width >= 1260px) {
  .size__image {
    width: 528px;
  }
}

.size__options {
  color: #000;
  flex-direction: column;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  position: relative;
  transform: translate(0);
}

@media (width >= 320px) {
  .size__options {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .size__options {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (width >= 1260px) {
  .size__options {
    grid-area: 1 / 2 / 2 / 3;
  }

  .size__options:after {
    content: "";
    opacity: .5;
    background-color: #d8d8d8;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -33px;
  }
}

.size__star {
  color: #4f4f4f;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.size__star:before {
  content: "*";
  color: #4f4f4f;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
  position: absolute;
}

@media (width >= 320px) {
  .size__star:before {
    left: 20px;
  }
}

@media (width >= 768px) {
  .size__star:before {
    left: calc(50vw - 374px);
  }
}

@media (width >= 1260px) {
  .size__star:before {
    left: calc(50vw - 610px);
  }
}

@media (width >= 320px) {
  .size__star {
    grid-area: 4 / 1 / 5 / 2;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (width >= 768px) {
  .size__star {
    grid-area: 3 / 1 / 4 / 3;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (width >= 1260px) {
  .size__star {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0 95px 0 0;
  }
}

.potr-team {
  background-image: url("shape.0067c3c8.png");
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  transform: translateX(0);
}

@media (width <= 319px) {
  .potr-team {
    display: none;
  }
}

@media (width >= 320px) {
  .potr-team {
    background-position: calc(50vw - 780px) 460px;
  }
}

@media (width >= 768px) {
  .potr-team {
    background-position: calc(50vw - 1174px) 170px;
  }
}

@media (width >= 1260px) {
  .potr-team {
    background-position: calc(50vw - 1380px) 200px;
  }
}

.potr-team__h2 {
  z-index: 2;
  display: flex;
}

@media (width >= 320px) {
  .potr-team__h2 {
    color: #000;
    letter-spacing: 5.58px;
    text-transform: uppercase;
    padding: 0 30px;
    font-family: Bebas Neue, sans-serfif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

@media (width >= 768px) {
  .potr-team__h2 {
    color: #000;
    letter-spacing: 8.99px;
    width: 590px;
    padding-bottom: 177px;
    padding-left: calc(50vw - 359px);
    font-family: Bebas Neue, sans-serfif;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (width >= 1260px) {
  .potr-team__h2 {
    padding-bottom: 143px;
    padding-left: calc(50vw - 595px);
  }
}

.potr-team__names {
  -webkit-text-stroke: 1px #03839e;
  color: #0000;
  letter-spacing: 44.64px;
  z-index: 3;
  font-family: Bebas Neue, sans-serfif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

@media (width >= 768px) {
  .potr-team__names {
    letter-spacing: 35px;
    font-size: 210px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (width >= 1260px) {
  .potr-team__names {
    letter-spacing: 35px;
    font-size: 288px;
  }
}

@media (width >= 768px) {
  .potr-team__names--marty {
    top: 90px;
    left: calc(50vw - 419px);
  }
}

@media (width >= 1260px) {
  .potr-team__names--marty {
    top: 60px;
    left: calc(50vw - 605px);
  }
}

@media (width >= 768px) {
  .potr-team__names--andy {
    top: 460px;
    right: 0;
    overflow: hidden;
  }
}

@media (width >= 1260px) {
  .potr-team__names--andy {
    top: 655px;
    left: auto;
    right: 0;
  }
}

.potr-team__p {
  padding-bottom: 20px;
  display: block;
}

.potr-team__text {
  color: #000;
  z-index: 2;
  flex-wrap: wrap;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

@media (width >= 320px) {
  .potr-team__text {
    padding: 30px;
  }
}

@media (width >= 768px) {
  .potr-team__text {
    width: 330px;
    padding-top: 50px;
    padding-left: 0;
  }
}

@media (width >= 1260px) {
  .potr-team__text {
    width: 336px;
    padding: 230px 60px 0 0;
  }
}

.potr-team__box {
  box-sizing: border-box;
  display: flex;
}

@media (width >= 320px) {
  .potr-team__box {
    flex-direction: column-reverse;
  }
}

@media (width >= 768px) {
  .potr-team__box {
    flex-direction: row;
    padding-left: calc(50vw - 359px);
  }
}

@media (width >= 1260px) {
  .potr-team__box {
    padding-bottom: 70px;
    padding-left: calc(50vw - 595px);
  }
}

.potr-team__image {
  z-index: 2;
  display: block;
}

@media (width >= 768px) {
  .potr-team__image {
    transition: transform .5s ease-in-out;
  }

  .potr-team__image:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.05);
  }
}

@media (width >= 320px) {
  .potr-team__image {
    width: 100%;
    height: auto;
  }
}

@media (width >= 768px) {
  .potr-team__image {
    width: 340px;
    height: 255px;
  }
}

@media (width >= 1260px) {
  .potr-team__image {
    width: 677px;
    height: 508px;
  }
}

.contact {
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

@media (width >= 320px) {
  .contact__address-box {
    padding-top: 30px;
  }
}

@media (width >= 768px) {
  .contact__address-box {
    padding-top: 0;
  }
}

@media (width <= 319px) {
  .contact {
    display: none;
  }
}

@media (width >= 320px) {
  .contact {
    box-sizing: border-box;
    background-image: url("shape.0067c3c8.png");
    background-position: 0 0;
    background-size: cover;
    flex-direction: column;
    padding: 30px;
  }
}

@media (width >= 768px) {
  .contact {
    background-image: url("shape2.6aa5593c.png");
    background-position: 0 0;
    background-size: auto;
    flex-direction: row;
    column-gap: 90px;
    padding: 30px calc(50vw - 359px) 130px;
  }
}

@media (width >= 1260px) {
  .contact {
    background-position: calc(50vw - 680px) 0;
    background-size: contain;
    column-gap: 200px;
    padding: 30px calc(50vw - 595px) 130px;
  }
}

.contact__stamp {
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -90px;
}

@media (width >= 320px) {
  .contact__stamp {
    background-image: url("stamp2.ec504bea.png");
    width: 118px;
    height: 162px;
    right: 0;
  }
}

@media (width >= 768px) {
  .contact__stamp {
    background-image: url("stamp2.ec504bea.png");
    width: 118px;
    height: 162px;
    right: 0;
  }
}

@media (width >= 1260px) {
  .contact__stamp {
    background-image: url("stamp.5f56ef09.png");
    width: 162px;
    height: 162px;
    left: calc(50vw + 420px);
  }
}

.contact__h2 {
  color: #000;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serfif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact__text {
  color: #000;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact__cta {
  color: #000;
  padding: 30px 0;
  font-family: Manrope, sans-serfif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.address {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

@media (width >= 320px) {
  .address {
    padding-top: 48px;
  }
}

@media (width >= 768px) {
  .address {
    padding-top: 80px;
  }
}

@media (width >= 1260px) {
  .address {
    padding-top: 0;
    padding-left: 87px;
  }
}

.address__section {
  color: #000;
  opacity: .4;
  font-family: Manrope, sans-serfif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.address__info {
  color: #000;
  padding-bottom: 24px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.address__info--link {
  transition: all .3s ease-in-out;
}

.address__info--link:link, .address__info--link:visited {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.address__info--link:hover, .address__info--link:active {
  color: #03839e;
  cursor: pointer;
  text-decoration: none;
}

.basket {
  z-index: 100;
  background-color: #fff;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  padding: 0 35px 100px;
  transition: transform .4s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(-100%);
}

@media (width <= 319px) {
  .basket {
    display: none;
  }
}

@media (width >= 320px) {
  .basket {
    width: 80vw;
  }
}

@media (width >= 768px) {
  .basket {
    width: 95vw;
  }
}

.basket:target {
  transform: translateY(0);
}

.basket__close {
  position: absolute;
  top: 5px;
  right: 50px;
}

.basket__close:hover {
  transition: transform .5s ease-in-out;
  transform: rotate(0);
}

.basket__close:hover:hover {
  transform: rotate(180deg);
}

.basket__product-total {
  flex-direction: column;
  display: flex;
}

.basket__h2 {
  color: #000;
  letter-spacing: 3.72px;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: Bebas Neue, sans-serfif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.basket__item {
  justify-content: space-between;
  display: flex;
}

.basket__field {
  place-content: center;
  width: 60px;
  display: flex;
  overflow: hidden;
}

.basket__name {
  color: #000;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.basket__product-box {
  color: #000;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
}

.basket__img {
  display: block;
}

.basket__product {
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  gap: 10px;
  padding: 15px;
  display: flex;
}

@media (width >= 320px) {
  .basket__product {
    flex-direction: column;
    align-items: center;
  }
}

@media (width >= 768px) {
  .basket__product {
    flex-direction: row;
    justify-items: flex-end;
  }
}

.basket__plus {
  color: #fff;
  background-color: #eb5757;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all .3s ease-in-out;
}

.basket__plus:hover {
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.basket__minus {
  color: #fff;
  background-color: #b3b3b3;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all .3s ease-in-out;
}

.basket__minus:hover {
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

input:-webkit-autofill {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

input:-webkit-autofill:hover {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

textarea:-webkit-autofill {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #03839e;
  color: #03839e;
  border: 1px solid #0000;
  border-bottom-color: #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

.form {
  box-sizing: border-box;
}

.form__item {
  padding-bottom: 16px;
}

.form__input {
  color: #000;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  outline: none;
  width: 100%;
  height: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all .5s ease-in-out;
}

.form__input:focus {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #03839e;
  transition: all .5s ease-in-out;
}

.form__input:valid {
  color: #03839e;
  border-bottom: 1px solid #03839e;
}

.form__input:required:not(:placeholder-shown):invalid {
  color: #eb5757;
  border: none;
  border-bottom: 1px solid #eb5757;
}

.form__textarea {
  color: #000;
  resize: none;
  background: none;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  outline: none;
  width: 100%;
  height: 30px;
  font-family: Manrope, sans-serfif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  overflow-y: hidden;
}

.form__textarea:focus {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #03839e;
  transition: all .5s ease-in-out;
}

.form__textarea:valid {
  color: #03839e;
  border-bottom: 1px solid #03839e;
}

.form:required:not(:placeholder-shown):invalid {
  color: #eb5757;
  border-bottom: 1px solid #eb5757;
}

.form__label:not(:focus), .form__label:not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.swiper-container {
  height: auto;
}

@media (width >= 320px) {
  .swiper-container {
    width: 90%;
    position: relative;
    overflow: hidden;
  }
}

@media (width >= 768px) {
  .swiper-container {
    width: 98%;
    position: absolute;
    left: 0;
    overflow: visible;
  }
}

.swiper-container .swiper-wrapper {
  box-sizing: border-box;
}

.swiper-container .swiper-slide {
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  box-sizing: border-box;
  background: #00000069;
  width: auto;
  height: auto;
  transition: all .3s ease-in-out;
}

@media (width >= 320px) {
  .swiper-container .swiper-slide {
    padding: 35px;
  }
}

@media (width >= 768px) {
  .swiper-container .swiper-slide {
    z-index: 0;
    opacity: 0;
    box-sizing: border-box;
    display: inline;
    position: absolute;
    left: calc(50vw - 384px);
    width: 283px !important;
  }

  .swiper-container .swiper-slide--1 {
    height: 166px !important;
    transform: translateX(40px)translateY(100px) !important;
  }

  .swiper-container .swiper-slide--2 {
    height: 166px !important;
    transform: translateX(90px)translateY(-10px) !important;
  }

  .swiper-container .swiper-slide--3 {
    height: 214px !important;
    transform: translateX(210px)translateY(90px) !important;
  }

  .swiper-container .swiper-slide--4 {
    height: 214px !important;
    transform: translateX(320px)translateY(15px) !important;
  }

  .swiper-container .swiper-slide--5 {
    height: 237px !important;
    transform: translateX(410px)translateY(120px) !important;
  }
}

@media (width >= 1260px) {
  .swiper-container .swiper-slide {
    left: calc(50vw - 630px);
  }

  .swiper-container .swiper-slide--1 {
    height: 166px !important;
    transform: translateX(60px)translateY(370px) !important;
  }

  .swiper-container .swiper-slide--2 {
    height: 166px !important;
    transform: translateX(180px)translateY(110px) !important;
  }

  .swiper-container .swiper-slide--3 {
    height: 214px !important;
    transform: translateX(290px)translateY(500px) !important;
  }

  .swiper-container .swiper-slide--4 {
    height: 214px !important;
    transform: translateX(630px)translateY(190px) !important;
  }

  .swiper-container .swiper-slide--5 {
    height: 237px !important;
    transform: translateX(900px)translateY(365px) !important;
  }
}

.swiper-container .swiper-pagination {
  z-index: 2;
  width: 5px;
  height: 5px;
  padding-bottom: 35px;
  display: block;
  position: absolute;
}

@media (width >= 768px) {
  .swiper-container .swiper-pagination {
    display: none;
  }
}

.swiper-container .swiper-pagination-bullet {
  opacity: 1;
  background-color: #0000;
  background-image: url("slider-white.f0ae6140.png");
  width: 10px;
  height: 12px;
  bottom: 0;
}

.swiper-container .swiper-pagination-bullet-active {
  background-image: url("slider-black.93799281.png");
  width: 10px;
  height: 12px;
  bottom: 0;
}

.clicked {
  opacity: 1 !important;
  z-index: 2 !important;
}

/*# sourceMappingURL=index.2103b895.css.map */
